<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">รหัส</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">นามสกุล</th>
            <th scope="col">อายุ</th>
            <th scope="col">วันที่เพิ่มข้อมูล</th>
        </tr>
    </thead>
    <tbody>
        <% TextRowStaf.forEach( item => { %>
        <tr>
            <th scope="row"><%- item.id %></th>
            <td><%- item.firstname %></td>
            <td><%- item.lastname %></td>
            <td><%- item.age %></td>
            <td><%- item.create_date %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<br>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">รหัส</th>
            <th scope="col">เลขหนังสือ</th>
            <th scope="col">ชื่อหนังสือ</th>
            <th scope="col">ราคา</th>
            <th scope="col">วันที่เพิ่มข้อมูล</th>
        </tr>
    </thead>
    <tbody>
        <% TextRowBook.forEach( item => { %>
        <tr>
            <th scope="row"><%- item.book_id %></th>
            <td><%- item.ISBN %></td>
            <td><%- item.title %></td>
            <td><%- item.price %></td>
            <td><%- item.create_date %></td>
        </tr>
        <% }) %>
    </tbody>
</table>