body {
	background-image:url("/styles/images/body-bg.jpg");
	background-attachment: fixed;
    padding-top: 10px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/* profile */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: proxima-nova-condensed, sans-serif;
}
a {
    text-decoration: none;
    color: #262626;
}
section {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    /* padding-top: 9em; */
}
/* .navbar {
    z-index: 16;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid transparent;
}
.navbar {
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.navbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navbar a i {
    font-size: 45px;
    height: 43px;
    width: 43px;
    line-height: 42px;
    text-align: center;
    margin-right: 10px;
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
} */
.bisc {
    color: white;
    margin-right: 0px;
    background: -webkit-gradient(linear, right top, left bottom, from(#4c68d7), color-stop(#8a3ab9), color-stop(#cd486b), color-stop(#fb8750), to(#FF9800));
    background: -webkit-linear-gradient(right top, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
    background: -o-linear-gradient(right top, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
    background: linear-gradient(to left bottom, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
    -webkit-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}
.mini {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
/* .navbar span {
    background-image: url(/styles/images/instagram.png);
    background-position: 0px 0px;
    height: 51px;
    width: 177px;
    display: inline-block;
    -webkit-transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
} */
.lil-bar {
    background: #fff;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: solid 1px #c8d7e1;
    border-radius: 3px;
    height: 35px;
    line-height: 1;
    z-index: 50000;
    -webkit-transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.bar-cont a {
    display: inline-block;
    padding: 8px;
    color: #636363;
    font-size: 20px;
}
.insta {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 60px;
}
.a1 {
    -webkit-transform: translate3d(-200px, 0px, 0px);
    transform: translate3d(-200px, 0px, 0px);
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.animation {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.top-insta {
    position: relative;
    padding: 16px;
    height: 60px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.top-insta img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -ms-flex-item-align: center;
    align-self: center;
}
.top-insta .user {
    margin-left: 10px;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 13px;
    font-weight: 600
}
.dot {
    cursor: pointer;
    background-image: url(/styles/images/instagram.png);
    background-repeat: no-repeat;
    background-position: -434px -345px;
    height: 16px;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    right: 16px;
    position: absolute;
    text-align: right;
}
.post {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.overlay {
    background: rgba(0, 0, 0, 0.23);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.overlay:after {
    content: '';
    width: 600px;
    height: 100%;
    background: black;
    background: rgba(255, 255, 255, .1);
    display: inline-block;
    position: absolute;
    left: 388px;
    top: 0;
    /* -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg); */
    -webkit-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.overlay span {
    background-image: url(/styles/images/instagram.png);
    background-repeat: no-repeat;
    background-position: -2px -53px;
    height: 79px;
    width: 88px;
    display: inline-block;
    cursor: pointer;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.post:hover .overlay:after {
    left: -600px;
}
.post:hover .overlay {
    opacity: 1
}
.post:hover .overlay span {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.post img {
    width: 100%;
    height: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.footer {
    padding: 0 16px;
}
.react {
    margin-top: 4px;
    position: relative;
}
.react a {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
}
.react a:last-child {
    margin-right: 0
}
.react .love {
    background-image: url(/styles/images/instagram.png);
    background-position: -408px -156px;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.react .comment {
    background-image: url(/styles/images/instagram.png);
    background-position: -408px -26px;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.react .save {
     background-image: url(/styles/images/instagram.png);
    background-repeat: no-repeat;
    background-position: -104px -389px;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.caption {
    color: #585858;
    font-size: 13px;
    margin: 16px 0;
}
.caption a {
    margin-right: .3em;
    font-weight: 600;
}
.comment-section {
    position: relative;
    border-top: 1px solid #efefef;
    padding: 26px 26px 26px 0;
    margin-top: 4px;
    overflow: hidden
}
#cmnt {
    outline: none;
    overflow-x: scroll;
    padding: 0;
    background: none;
    border: none;
    color: #262626;
    width: 100%;
    height: 18px;
    max-height: 80px;
    resize: none;
}
.dot02 {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    background-image: url(/styles/images/instagram.png);
    background-repeat: no-repeat;
    background-position: -434px -345px;
    height: 16px;
    width: 16px;
}
.footer-cont {
    font-size: 12px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
}
@media only screen and (max-width: 845px) {
    .footer-cont {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-cont ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .footer-cont ul li {
        margin-bottom: 8px;
    }
}
.footer-cont ul {
    padding: 0;
    margin: 0;
}
.footer-cont ul li {
    display: inline-block;
    list-style: none;
    margin-right: 16px;
}
.footer-cont ul li:last-child {
    margin-right: 0;
}
.footer-cont ul li a {
    color: #003569;
}
.footer-cont span {
    color: #999;
}
.list{
    position: fixed;
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    bottom: 5em;
    right: 15px;
    border: solid 1px #e4e3e3;
    border-radius: 3px;
    line-height: 1;
    z-index: 50000;
    -webkit-transition: all 0.3s cubic-bezier(0.18, 0.89, 0.22, 1.28);
    -o-transition: all 0.3s cubic-bezier(0.18, 0.89, 0.22, 1.28);    
	transition: all 0.3s cubic-bezier(0.18, 0.89, 0.22, 1.28);
    opacity: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 56px rgba(0, 0, 0, 0.075);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 56px rgba(0, 0, 0, 0.075);
    text-align: center;
    transform: rotate(-45deg) scale(.5) translate3d(-133px, -80px, 0px)
}
.list:hover{
    background: #fff;
}
.list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative
}
.list ul:before {
    bottom: -15px;
    border: 11px solid #e4e3e3;
    content: " ";
    position: absolute;
    right: 3%;
    margin-left: -10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
} 
.list ul:after {
    bottom: -13.4px;
    border: 10px solid white;
    content: " ";
    position: absolute;
    right: 3.5%;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.list ul li:first-child {

    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
        
}
.list ul li:first-child a{
    padding: 11px 10px;
}
.list ul li a {
    padding: 10px 68px 10px 13px;
    font-size: 14px;
    margin: 3px 0;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.list ul li a:hover{
    background:  #8a3ab9;
    color: white;
}
.list ul li a img
{
    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    vertical-align: middle;
    margin: -1px 5px 0 0;
    display: inline;
}
.list ul li:last-child{
    border-top: 1px solid #f0f0f0;
    margin-top: 10px;
}
.list-order{
        -webkit-transition: .2s cubic-bezier(0.45, 0.5, 0, 1.51);
        -o-transition: .2s cubic-bezier(0.45, 0.5, 0, 1.51);
        transition: .2s cubic-bezier(0.45, 0.5, 0, 1.51);
}
/* .ba{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.animate{
-webkit-transform: rotate(0deg) scale(1) translate3d(0px, 0px, 0px);
        transform: rotate(0deg) scale(1) translate3d(0px, 0px, 0px);
opacity: 1;
} */

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}