<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">firstname</th>
            <th scope="col">lastname</th>
            <th scope="col">salary</th>
            <th scope="col">role</th>
        </tr>
    </thead>
    <tbody>
        <% TextRow.forEach( item => { %>
        <tr>
            <th scope="row"><%- item.id %></th>
            <td><%- item.firstname %></td>
            <td><%- item.lastname %></td>
            <td><%- item.salary %></td>
            <td><%- item.role %></td>
        </tr>
        <% }) %>
    </tbody>
</table>