<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ชื่อคอร์ส</th>
            <th scope="col">จำนวนลงทะเบียน</th>
            <th scope="col">ราคา</th>
        </tr>
    </thead>
    <tbody>
        <% TextRowCourse.forEach( item => { %>
        <tr>
            <td><%- item.name %></td>
            <td><%- item.count_name %></td>
            <td scope="row"><%- item.price %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<br><br>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">รายชื่อนักเรียน</th>
            <th scope="col">จำนวนคอร์สที่ลงทะเบียน</th>
            <th scope="col">ราคา</th>
            <th scope="col">ราคารวม</th>
        </tr>
    </thead>
    <tbody>
        <% TextRowStudent.forEach( item => { %>
        <tr>
            <td scope="row"><%- item.name %></td>
            <td><%- item.count_course %></td>
            <td><%- item.price %></td>
            <td scope="row"><%- item.sum %></td>
        </tr>
        <% }) %>
    </tbody>
</table>