<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Create</th>
      </tr>
    </thead>
    <tbody>
        <%- Object.keys(information).map( key => "<tr><td>" + information[key].id+ "</td><td>"+information[key].name+ "</td><td>"+ information[key].created_at +"</td></tr>" ).join('\n') %>
    </tbody>
</table>

