<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ชื่อคนที่ไม่ได้สอน</th>
        </tr>
    </thead>
    <tbody>
        <% TextRowStaf.forEach( item => { %>
        <tr>
            <td scope="row"><%- item.teach_name %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<br><br>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">คอร์สที่ไม่มีคนสอน</th>
        </tr>
    </thead>
    <tbody>
        <% TextRowBook.forEach( item => { %>
        <tr>
            <td scope="row"><%- item.course_name %></td>
        </tr>
        <% }) %>
    </tbody>
</table>