nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:blue;
}

img{
    width: 200px;
    height: 200px;
}

section{
    text-align: center;
}

p{
    text-indent: 50px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 40px;
    margin-left: 50px;
}

h4.description{
    display: inline;
}