<div class="container">
        <form action="/signin_completed" method="POST">
            <fieldset>
                <legend>Login Form</legend>
                <div class="form-group">
                    <label>E-mail :</label>
                    <input type="text" name="email" class="form-control" placeholder="example@email.com">
                </div>
                <div class="form-group">
                    <label>Password :</label>
                    <input type="password" name="password" class="form-control" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary"> เข้าสู่ระบบ </button>
                <a href="/signup" class="btn btn-success"> ลงทะเบียน </a>
            </fieldset>
        </form>
    </div>