<div class="container">
    <div class="form-group">
        <label>E-mail : <%= email %></label>
    </div>
    <div class="form-group">        
        <label>Password : <%= password %></label>
    </div>
    <a href="/" class="btn btn-success"> ย้อนกลับ </a>
</div>