<div class="container">
    <form action="/signup_completed" method="POST">
        <fieldset>
            <legend>Register Form</legend>
            <div class="form-group">
                <label>E-mail :</label>
                <input type="text" name="email" class="form-control" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label>Password :</label>
                <input type="password" name="password" class="form-control" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary"> บันทึกข้อมูล </button>
            <a href="/" class="btn btn-success"> เข้าสู่ระบบ </a>
        </fieldset>
    </form>
</div>