html,body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}
.container{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.title-page{
    padding-top: 15px;
    padding-bottom: 15px;
}
.description{
    padding-top: 15px;
    padding-bottom: 15px;
}
.image-slider{
    width: 100%;
    height: 300px;
}

.image-slider>img{
    width: 100%;
    height: 300px;
}

.multiple-images{
    padding: 15px;
}
.images-item{
    float: left;
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    height: 250px;
    border: 1px dashed #666;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
}

.images-item:nth-child(2n){
    margin-right: -15px;
}

.images-item .uploaded{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.lower-nav{
padding: 15px;
text-align: center;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.image-item-blank{
    padding: 70px 0;
}

@media (min-width: 768px) {
    .images-item{
        width: 23%;
    }
    .images-item:nth-child(2n){
        margin-right: 1%;
    }

    .image-slider{
        width: 25%;
        float: left;
    }
    
    .multiple-images{
        width: 75%;
        float: left;
        box-sizing: border-box;
    }

}
