<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pikkanode</a>
            </div>
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-log-out"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-3">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Upload</a></li>
                    <li>
                        <a class="btn btn-default btn-outline btn-circle collapsed"  href="#" aria-expanded="false" aria-controls="nav-collapse2">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>