<%- include navbar %>
<section>
    <div class= 'insta fade-scroll'>
        <div class='top-insta'>
            <a href='#' target='_blank'><img src='/styles/images/avatar.png'></a>
            <a href='#' target='_blank' class='user'>pikkanode_js</a>
            <span class= 'dot'></span>
        </div>
        <div class='post'>
            <div class="overlay">
                <span></span>
            </div>
            <img src='/styles/images/pikkanode.png' >
        </div>
        <div class='footer'>
            <div class='react'>
                <a href='#' role='button'><span class='love'></span></a>
                <a href='#' role='button'><span class='comment'></span></a>
                <a href='#' role='button'><span class='save'></span></a>
            </div>
            <div class='caption'>
                <a href='#'>pikkanode_js</a><span>Done Safe and Sound</span>
            </div>
            <div class='comment-section'>
                <input type='text' id='cmnt' placeholder='Add a comment...'>
                <span class='dot02'></span>
            </div>
        </div>
    </div>
    <!-- pikka 2 -->
    <div class= 'insta fade-scroll'>
            <div class='top-insta'>
                <a href='#' target='_blank'><img src='/styles/images/avatar.png'></a>
                <a href='https://goo.gl/Y9YWLo' target='_blank' class='user'>pikkanode_js</a>
                <span class= 'dot'></span>
            </div>
            <div class='post'>
                <div class="overlay">
                    <span></span>
                </div>
                <img src='/styles/images/pikkanode.png' >
            </div>
            <div class='footer'>
                <div class='react'>
                    <a href='#' role='button'><span class='love'></span></a>
                    <a href='#' role='button'><span class='comment'></span></a>
                    <a href='#' role='button'><span class='save'></span></a>
                </div>
                <div class='caption'>
                    <a href='#'>pikkanode_js</a><span>Done Safe and Sound</span>
                </div>
                <div class='comment-section'>
                    <input type='text' id='cmnt' placeholder='Add a comment...'>
                    <span class='dot02'></span>
                </div>
            </div>
        </div>
</section>
<footer>
    <div class="footer-cont">
        <ul>
            <li><a href='#'>About us</a></li>
            <li><a href='#'>Support</a></li>
            <li><a href='#'>Blog</a></li>
            <li><a href='#'>Press</a></li>
            <li><a href='#'>Jobs</a></li>
            <li><a href='#'>Privacy</a></li>
            <li><a href='#'>Terms</a></li>
            <li><a href='#'>Directory</a></li>
            <li><a href='#' onclick='return false;'>Language</a></li>
        </ul>
        <span class='copyright'>© 2018 PIKKANODE</span>
    </div>
 </footer>