<div class="container well">
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="usr">File Name</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Description</label>
            <input type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Upload</label>
            <input type="file" class="form-control" id="file">
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>